---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<main>
        <h1>Sådan virker det</h1>
        <p>Med Dankort Grøn får du point, når du vælger at købe mindre, reparere mere, handle lokalt eller sige nej til unødvendigt forbrug. 
            Dine point kan bruges på oplevelser, der skaber værdi – uden at belaste klimaet.</p>

            
	</main>

</MainLayout>