---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<main>
		<div class="intro-dankort">
        	<h1>Sådan virker det</h1>
			<p>Med Dankort Grøn får du point, når du vælger at købe mindre, reparere mere, 
			handle lokalt eller sige nej til unødvendigt forbrug. Dine point kan bruges på oplevelser, der skaber værdi
			– uden at belaste klimaet.</p>
		</div>
		
		<div class="guide-baggrund">
			<h2>Opret eller log ind på din profil</h2>
			<p>For at optjene point skal du oprette en profil og registrere dit Dankort. Du kan gøre det direkte på vores 
			hjemmeside eller ved at downloade og bruge vores app.</p>
			<img src="../public/imgs/hjemmesiden.svg" alt="illustration af hjemmesiden">
			<div class="download-button">
				<div>
					<button>Download App Store</button>
				</div>
				<div>
					<button>Download Google Play</button>
				</div>
			</div>

			<h2>Vælg en af dine fordele </h2>
			<p>Du kan vælge fx gratis entre til et museum og klik på ‘Indløs point’</p>
			<img class="indløs-img" src="../public/imgs/indløs.webp" alt="Illustration af man indløser sin fordel">
			<div class="download-button">
				<a href="/profil"><button>Gå til din profil</button></a>
			</div>

			<h2>En oplevelse venter - nu med rabat</h2>
			<p>Du får nu gratis entré til et museum. Vis blot kuponen ved indgangen – så er du en oplevelse rigere.</p>
		</div>

		<div class="box-1">
			<h3>Med Dankort Grøn får du blandt andet</h3>
			<p>+ Rabat på oplevelser</p>
			<p>+ Gratis oplevelser </p>
			<p>+ Medlemskaber</p>
		</div>

		<div class="box-2">
			<h3>Godt at vide om Dankort Grøn</h3>
			<p>Dankort Grøn giver dig adgang til rabatter og oplevelser. Det koster ikke noget at oprette en Dankort Grøn profil. </p>
		</div>

		<div class="box-3">
			<h3>Sådan optjener du point</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo facilis unde repudiandae ea itaque molestias laboriosam tempore maxime.</p>
		</div>

		<div class="blomster-kort">
			<img src="../public/imgs/blomsterkort.svg" alt="Dankort tegning med blomstr omkring">
		</div>
	</main>

</MainLayout>