---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	
	<main>
		<div class="forside_video">
			<video src="/video/dankortvideo.mp4" loop autoplay muted></video>
			<h1 class="forside_overskrift">Små valg. Større værdi. <br>
			Beløn de handlinger, der gør <br>hverdagen grønnere.</h1>
		</div>
		<div class="forside_1-1">
			<h2>Fælles handling gør den største <span class="highlight">forskel</span></h2>
			<img src="/imgs/danmark.svg" alt="Danmark">
		</div>

		<div class="forside_textbox">
			<div>
				<h3>Brug Dankort mindre <br>- <span class="highlight">brug eftertanken</span> mere</h3>
				<p>Dankort Grøn er ikke en sparekampagne, men en tænk-kampagne.
				Et lille øjebliks refleksion kan spare både penge og ressourcer.</p>
			</div>
			<div>
				<img src="/imgs/fysiskkort.svg" alt="Et fysisk dankort">
			</div>
			<div class="gron_button">
				<a href="/dankortgron"><button>Dankort Grøn</button></a>
			</div>
		</div>

		<h2 class="partner_text">Samarbejdspartnere</h2>

		<div class="partner_grid">
			<div class="partner">
				<img src="/imgs/rodekors.svg" alt="Røde kors logo">
			</div>
			<div class="partner">
				<img src="/imgs/museumlogo.svg" alt="Museums logo">
			</div>
			<div class="partner">
				<img src="/imgs/cafelogo.svg" alt="Repair cafe logo">
			</div>
			<div class="partner">
				<img src="/imgs/toogoodlogo.svg" alt="Too good to go logo">
			</div>
			<div class="partner">
				<img src="/imgs/limelogo.svg" alt="Lime logo">
			</div>
			<div class="partner">
				<img src="/imgs/fixlogo.svg" alt="Fix and wear logo">
			</div>
			<div class="partner">
				<img src="/imgs/mofibologo.svg" alt="Mofibo logo">
			</div>
			<div class="partner">
				<img src="/imgs/wefoodlogo.svg" alt="Wefood logo">
			</div>
			<div class="partner">
				<img src="/imgs/podimologo.svg" alt="Podimo logo">
			</div>
			<div class="partner">
				<img src="/imgs/kirppulogo.svg" alt="Kirppu logo">
			</div>
			<div class="partner">
				<img src="/imgs/museumlogo2.svg" alt="Museum logo">
			</div>
			<div class="partner">
				<img src="/imgs/glyptologo.svg" alt="Glyptoteket logo">
			</div>
		</div>

	</main>

	<script>
  const highlights = document.querySelectorAll('.highlight');

  function checkScroll() {
    highlights.forEach(highlight => {
      const rect = highlight.getBoundingClientRect();
      const windowHeight = window.innerHeight;

      if (rect.top < windowHeight * 0.8) {
        highlight.style.backgroundSize = '100% 100%';
      }
    });
  }

  window.addEventListener('scroll', checkScroll);
</script>

</MainLayout>
