---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<img src="" alt="">
	<main>
		<div class="forside_overskrift">
			<h1>Små valg. Større værdi. <br>
			Beløn de handlinger, der gør <br>hverdagen grønnere.</h1>
		</div>
		<!-- <div class="halvmobil_img">
			<img src="../public/imgs/halvmobil.webp" alt="">
		</div> -->
		<div class="forside_1-1">
			<h2>Fælles handling gør den største forskel</h2>
			<img src="../public/imgs/danmark.svg" alt="Danmark">
		</div>

		<div class="forside_textbox">
			<h3>Brug Dankort mindre <br>- brug eftertanken mere</h3>
			<p>Dankort Grøn er ikke en sparekampagne, men en tænk-kampagne. 
				Et lille øjebliks refleksion kan spare både penge og ressourcer.</p>
				<img src="../public/imgs/fysiskkort.svg" alt="Et fysisk dankort">
				<a href="/dankortgrøn"><button>Dankort Grøn</button></a>
		</div>

		<h2 class="partner_text">Samarbejdspartnere</h2>

	</main>

</MainLayout>
