---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<main>
        <h1 class="kontakt_overskrift">Kontakt os, hvis du har spørgsmål</h1>

        <div class="kontakt_textbox">
            <h2>Kundeservice</h2>
            <p>Har du spørgsmål til vores Dankort Grøn kampagne eller brug for hjælp til at oprette din profil, er du altid velkommen til at kontakte vores kundeservice på 
                <span class="highlight">44 89 24 00.</span> Vi har åbent hverdage mellem kl. 8.00 - 17.00.</p>
        </div>
        <img src="../public/imgs/siden1983.webp" alt="Dankort, på beløbet siden 1983">
	</main>

        <script>
  const highlights = document.querySelectorAll('.highlight');

  function checkScroll() {
    highlights.forEach(highlight => {
      const rect = highlight.getBoundingClientRect();
      const windowHeight = window.innerHeight;

      if (rect.top < windowHeight * 0.8) {
        highlight.style.backgroundSize = '100% 100%';
      }
    });
  }

  window.addEventListener('scroll', checkScroll);
</script>

</MainLayout>