---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<main>

        <div class="profil_info">
            <h1>Hej Lau</h1>
            <h2>Du har 400 point</h2>
            <h3>Indløs dine fordele</h3>
        </div>

	</main>

</MainLayout>