/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Menu ****************/
@media (max-width: 1000px) {
  header {
    display: none;
  }
}

/**************** FONTS ***************/

h1 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: bold;
  line-height: 30px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: bold;
  line-height: 30px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 30px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  line-height: 30px;
}

a {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-style: bold;
}

/*****************STYLE****************/

button {
  background-color: rgba(228, 30, 40, 1);
  color: white;
  border-radius: 30px;
  padding: 15px 50px;
  cursor: pointer;
  border: none;
}
