---

---

<footer>
    <div class="footer_left">
        <img src="/public/imgs/logo.svg" alt="Dankort logo i grøn">
        <h2>Dankort Grøn</h2>
        <h2>Handle mindre, oplev mere</h2>
    </div>
    
    <div class="footer_right">
        <div class="footer_text">
            <h3>Kontakt</h3>
            <p>45+ 44 89 24 00</p>
        </div>
        <div class="footer_text">
            <h3>Betingelser</h3>
            <p>Brugerbetingelser</p>
        </div>
        <div class="footer_text">
            <h3>Politikker</h3>
            <p>Privatspolitikker</p>
        </div>
    </div>

</footer>

<style>

footer {
    background-color: rgba(232, 232, 232, 1);
}    

.footer_left img {
    width: 80px;
}

.footer_left {
    padding: 20px;
}

.footer_left h2 {
    padding-top: 15px;
}

.footer_right {
    text-align: right;
    padding: 20px;
}

.footer_text {
    padding-top: 40px;
}

.footer_text p {
    padding-top: 15px;
}

.footer_text p:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 750px) {

.footer_img {

}

.footer_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}
</style>