---

---

<footer>
    <img src="/public/imgs/grønlogo.webp" alt="Dankort logo i grøn">
    <h2>Handle mindre, oplev mere</h2>
    
    <div class="footer_grid">
        <div>
            <h3>Kontakt</h3>
            <p>45+ 44 89 24 00</p>
        </div>
        <div>
            <h3>Betingelser</h3>
            <p>Brugerbetingelser</p>
        </div>
        <div>
            <h3>Politikker</h3>
            <p>Privatspolitikker</p>
        </div>
    </div>

</footer>

<style>

footer {
    background-color: rgba(228, 30, 40, 1);
    color: white;
}    

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

</style>